
nav {
	display : flex;
	justify-content: end;
}

ul {
	display : flex;
	justify-content: space-between;
	width : 60%;
	margin-right:30px;
}

li {
	display : inline;
	color : black ;
	list-style: none;
}

.main-title {
	
	display : flex;
	justify-content: center;
}

.background-image {
	width : 100%;
	position : relative;
	z-index: -5;
}


.customer-form {
	position: fixed;
	z-index: 6;
	color:yellow;
}